ul{
	padding: 0px;
	margin: 0 0 20px 0;
	list-style: none;
}

h1,h2{
	padding: 0px;
	margin: 0 0 20px 0;
	font-weight: normal;
}

p{
	padding: 0;
	margin: 0 0 20px 0;
}
a:link, a:visited{
	text-decoration: underline;
	color: #000;
}
a:hover{
	text-decoration: none;
}
ul li{
	padding: 5px 0;
}
body{
	background:url(../images/background-old.png);
	
	font-family: Arial;
	font-size: 0.8em;
}

#container, footer{
	background:url(../images/table_bg7.png);
	width: 1010px;
	margin: 0 auto;
	padding: 20px;
}
#container{
	min-height: 600px;
	
}
#create{
	background:url(../images/create account.png);
}
.sidebar {
   margin: 0;
   padding: 0;
   margin-left: -14px;
}
.sidebar li {
   list-style-image: none;
   list-style: none;
   background: #F4F4F4;
   width: 106.8%;
   padding: 14px;
   -webkit-box-shadow: 0px 0px 2px #666;
  -moz-box-shadow: 0px 0px 2px #666;
  box-shadow: 0px 0px 1px #666;
  border-radius: 7px;
}
.sidebar li.selected {
   background: #ddd;
}
.sidebar li a {
   color: #666;
   padding: 10px;
   text-decoration: none;
  
   margin-left: -10px;
}
.sidebar li a:hover{
  text-decoration: none;
}
.sidebar li a:hover, .sidebar li:hover {
   cursor: pointer;
   background: #eee;
}
