
#m {
  background: linear-gradient(#535653,#262926);
  border: 0;
  border-radius: 5px;
  box-shadow: 1px 0 14px #666;
}
#m a {
  color: #fff;
}
#m .dropdown-menu a {
  color: #666;
}
a{
  text-decoration:none;
}
.imgtit {
  text-decoration:none;

  padding: 5px;

}
th.vertical-text {
  height: 200px;
  white-space: nowrap;
}
th.vertical-text > div {
  transform: translate(10px,160px) rotate(-90deg);
  width: 30px;
}
th.vertical-text > div > span {

}
.imgtit img {
  position:relative;
  left:-5px;
  top:3px;
}

.required {
  color:red;
  font-size:12px;
}
footer {
  position: fixed;
  bottom: 0px;
  width:100%;
  height:50px;
  font-family:Tahoma, Verdana;
  color:#FF0;
  font-size:12px;
  margin-top:50px;
  padding-top:0px;
  padding-right:0px;
  padding-left:0px;
  margin-left:0px;
  margin-right:0px;
  background:#A93518;
  border-bottom: solid #1A6600 3px;
}
.containter {
  border-collapse:collapse;
  margin:1.5% 6.5%;
  width:87%;
}

#menu {
  margin-top: 3px;
  height: 1.5em;
  background: linear-gradient(#160b5e,#262e7d);
  padding: 15px;
  border: 0;
  border-radius: 5px;
  box-shadow: 1px 0 14px #666;
  border-bottom:#c63535 2px solid;

}
#menu a {

  text-decoration:none;
  color:#ccc;
  width:7%;
  height:2.5em;
}
#menu li {
  list-style:none;
  float:left;
  width:7%;
  height:2.5em;
  text-align:center;
  transition: 0.4s;
}
#menu li.home {
  background:url(images/home.png) no-repeat -1% -5%;
  opacity: 0.9;
  transition:0.2s;
}

#menu li:hover {
  margin-top:-15px;
  padding-top:15px;
  height:2.5em;
  background:#424783;

}
#menu li.nolink:hover {
  background:none;
  margin:0;padding:0;
}
#menu li.home:hover {
  background:url(images/home.png) no-repeat -1% 40% #424783;
  opacity:0.8;
}
#menu li:hover a {

  width:7%;
  height:2.5em;
  color:#fff;
}
#sidemenu {
  margin:0;
  padding:0;
  width:100%;
  border-top:#ccc 1px solid;
  height:100%;
}
#sidemenu a {
  color:#666;
  text-decoration:none;
}
#error {
  background: #FFCC99;
  border:red 2px solid;
  font-weight:bold;
  width:98%;
  color:red;
  padding:5px;
  transition:0.5s;
}

#sidemenu li {
  padding:10px;
  transition:0.2s;
  padding-bottom:23px;
  padding-left:12px;
  background: url(images/next.png) no-repeat #F4F4F4 95% 40% ;
  text-transform:uppercase;
  margin:0;
  list-style:none;
  font-size:100%;
  border-bottom:#ccc 1px solid;
  height:0.7em;
  width: 92%;
}
#sidemenu li.selected {
  background: #fff;
  font-weight:bold;
  padding-left:15px;
  border-left:#ccc 1px solid;
}
#sidemenu li:hover {
  transition:0.2s;
  cursor:pointer;
  font-weight:bold;
  padding-left:15px;

}

#body_UpdatePanel1 select {
  padding:-2px;
}
input[type=text],input[type=password],select,input[type=file] {
  border:#ccc 1px solid;
  padding:8px;
  box-shadow: 0 0 3px 0 #ccc inset;
  border-radius:2px;
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  color:#666;
}

input[type=text]:focus,input[type=password]:focus,select:focus {
  border:#ccc 1px solid;
  padding:8px;

  transition:0.9s;
  border-radius:2px;
}
footer .top {
  height:15px;
  border-top:#ccc 1px solid;
  border-bottom:#c63535 1px solid;
  background:#f4f4f4;
}
#bar {
}
footer .main {
  height:2em;
  background: linear-gradient(green,darkgreen);
  margin-bottom:0;
  padding:20px;
  padding-left:100px;
  color:#fff;
}
.modalBackground {
  background-color:Gray;
  filter:alpha(opacity=70);
  opacity:0.7;
}

.modalPopup {
  background-color:#f4f4f4;
  border-width:3px;
  border-style:solid;
  border-color:Gray;
  padding:10px;
  width:40%;
  border-radius:0 10px 10px 10px;
  transition:0.5s;
}
.modalPopup .title {
  min-width:20%;
  padding:10px;
  border:gray 3px solid;
  background:#424783;
  color:#fff;
  border-radius: 10px 10px 0 0;
  position:absolute;
  top:-40px;
  left:-1px;
}
.modalPopup .cancel {
  background:#424783;
  color:#fff;
  border:#424783 1px solid;
  border-radius:190px;
  position:absolute;
  font-size:18px;
  width:1em;
  padding-top:2px;
  padding-left:7px;
  top:-16px;
  right:0;

}
.cancel:hover {
  color:#ccc;
  transition:0.3s;
  background:#0094ff;
  cursor:pointer;
}

.modalPopup p {
  padding: 5px;
}


.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}
.rotate {
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);;
    -transform: rotate(-90deg);
    position: absolute;
    margin-left: -10px;
    margin-top: -40px;
    height: 90px;
    width: 120px;
}
.rotate3 {
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);;
    -transform: rotate(-90deg);
    position: absolute;
    margin-left: -10px;
    margin-top: -40px;
    height: 130px;
    width: 150px;
}
.custselect {
    border:0  none;
    border: #fff 1px solid;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    color: black;
    width: 130%;
    height: 100%;
}
.rotate2 {
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);;
    -transform: rotate(-90deg);
    position: absolute;
    margin-left: -10px;
    margin-top: -40px;
    height: 170px;
    width: 210px;
}